<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>K歌</key>
	<string>emo082</string>
	<key>WC</key>
	<string>emo117</string>
	<key>emo001</key>
	<string>微笑</string>
	<key>emo002</key>
	<string>大笑</string>
	<key>emo003</key>
	<string>害羞</string>
	<key>emo004</key>
	<string>崇拜</string>
	<key>emo005</key>
	<string>亲一个</string>
	<key>emo006</key>
	<string>亲亲</string>
	<key>emo007</key>
	<string>惊呆</string>
	<key>emo008</key>
	<string>呲牙</string>
	<key>emo009</key>
	<string>吐舌</string>
	<key>emo010</key>
	<string>难过</string>
	<key>emo011</key>
	<string>坏笑</string>
	<key>emo012</key>
	<string>汗</string>
	<key>emo013</key>
	<string>睡着</string>
	<key>emo014</key>
	<string>难受</string>
	<key>emo015</key>
	<string>无奈</string>
	<key>emo016</key>
	<string>震惊</string>
	<key>emo017</key>
	<string>囧</string>
	<key>emo018</key>
	<string>哭</string>
	<key>emo019</key>
	<string>笑哭</string>
	<key>emo020</key>
	<string>晕</string>
	<key>emo021</key>
	<string>可怕</string>
	<key>emo022</key>
	<string>愤怒</string>
	<key>emo023</key>
	<string>打鼾</string>
	<key>emo024</key>
	<string>生病</string>
	<key>emo025</key>
	<string>爱心</string>
	<key>emo026</key>
	<string>心碎</string>
	<key>emo027</key>
	<string>关爱</string>
	<key>emo028</key>
	<string>赞</string>
	<key>emo029</key>
	<string>踩</string>
	<key>emo030</key>
	<string>拳头</string>
	<key>emo031</key>
	<string>耶</string>
	<key>emo032</key>
	<string>上</string>
	<key>emo033</key>
	<string>右</string>
	<key>emo034</key>
	<string>挥拳</string>
	<key>emo035</key>
	<string>加油</string>
	<key>emo036</key>
	<string>手掌</string>
	<key>emo037</key>
	<string>鼓掌</string>
	<key>emo038</key>
	<string>祝福</string>
	<key>emo039</key>
	<string>男人</string>
	<key>emo040</key>
	<string>女人</string>
	<key>emo041</key>
	<string>男孩</string>
	<key>emo042</key>
	<string>女孩</string>
	<key>emo043</key>
	<string>老人</string>
	<key>emo044</key>
	<string>警察</string>
	<key>emo045</key>
	<string>不可以</string>
	<key>emo046</key>
	<string>狗</string>
	<key>emo047</key>
	<string>鼠</string>
	<key>emo048</key>
	<string>兔</string>
	<key>emo049</key>
	<string>鹿</string>
	<key>emo050</key>
	<string>青蛙</string>
	<key>emo051</key>
	<string>虎</string>
	<key>emo052</key>
	<string>熊</string>
	<key>emo053</key>
	<string>猪</string>
	<key>emo054</key>
	<string>牛</string>
	<key>emo055</key>
	<string>野猪</string>
	<key>emo056</key>
	<string>马</string>
	<key>emo057</key>
	<string>鸡</string>
	<key>emo058</key>
	<string>鱼1</string>
	<key>emo059</key>
	<string>鱼2</string>
	<key>emo060</key>
	<string>鱼3</string>
	<key>emo061</key>
	<string>幽灵</string>
	<key>emo062</key>
	<string>玫瑰花</string>
	<key>emo063</key>
	<string>小红花</string>
	<key>emo064</key>
	<string>郁金香</string>
	<key>emo065</key>
	<string>向日葵</string>
	<key>emo066</key>
	<string>献花</string>
	<key>emo067</key>
	<string>圣诞树</string>
	<key>emo068</key>
	<string>万圣节</string>
	<key>emo069</key>
	<string>雪人</string>
	<key>emo070</key>
	<string>礼物</string>
	<key>emo071</key>
	<string>铃铛</string>
	<key>emo072</key>
	<string>通知</string>
	<key>emo073</key>
	<string>奖杯</string>
	<key>emo074</key>
	<string>钱袋</string>
	<key>emo075</key>
	<string>钥匙</string>
	<key>emo076</key>
	<string>电话</string>
	<key>emo077</key>
	<string>电脑</string>
	<key>emo078</key>
	<string>电视机</string>
	<key>emo079</key>
	<string>摄像机</string>
	<key>emo080</key>
	<string>灯泡</string>
	<key>emo081</key>
	<string>书</string>
	<key>emo082</key>
	<string>K歌</string>
	<key>emo083</key>
	<string>香烟</string>
	<key>emo084</key>
	<string>咖啡</string>
	<key>emo085</key>
	<string>啤酒</string>
	<key>emo086</key>
	<string>冰激凌</string>
	<key>emo087</key>
	<string>冰沙</string>
	<key>emo088</key>
	<string>热汤</string>
	<key>emo089</key>
	<string>蛋糕</string>
	<key>emo090</key>
	<string>苹果</string>
	<key>emo091</key>
	<string>西瓜</string>
	<key>emo092</key>
	<string>草莓</string>
	<key>emo093</key>
	<string>药</string>
	<key>emo094</key>
	<string>打针</string>
	<key>emo095</key>
	<string>剪刀</string>
	<key>emo096</key>
	<string>口红</string>
	<key>emo097</key>
	<string>皇冠</string>
	<key>emo098</key>
	<string>手枪</string>
	<key>emo099</key>
	<string>中靶</string>
	<key>emo100</key>
	<string>橄榄球</string>
	<key>emo101</key>
	<string>足球</string>
	<key>emo102</key>
	<string>气球</string>
	<key>emo103</key>
	<string>红灯</string>
	<key>emo104</key>
	<string>时间</string>
	<key>emo105</key>
	<string>太阳</string>
	<key>emo106</key>
	<string>月亮</string>
	<key>emo107</key>
	<string>闪光</string>
	<key>emo108</key>
	<string>闪电</string>
	<key>emo109</key>
	<string>水滴</string>
	<key>emo110</key>
	<string>下雨</string>
	<key>emo111</key>
	<string>祝</string>
	<key>emo112</key>
	<string>股票</string>
	<key>emo113</key>
	<string>圆圈</string>
	<key>emo114</key>
	<string>错误</string>
	<key>emo115</key>
	<string>ok</string>
	<key>emo116</key>
	<string>商标</string>
	<key>emo117</key>
	<string>WC</string>
	<key>emo118</key>
	<string>女</string>
	<key>emo119</key>
	<string>呼呼</string>
	<key>ok</key>
	<string>emo115</string>
	<key>万圣节</key>
	<string>emo068</string>
	<key>上</key>
	<string>emo032</string>
	<key>下雨</key>
	<string>emo110</string>
	<key>不可以</key>
	<string>emo045</string>
	<key>中靶</key>
	<string>emo099</string>
	<key>书</key>
	<string>emo081</string>
	<key>亲一个</key>
	<string>emo005</string>
	<key>亲亲</key>
	<string>emo006</string>
	<key>兔</key>
	<string>emo048</string>
	<key>关爱</key>
	<string>emo027</string>
	<key>冰沙</key>
	<string>emo087</string>
	<key>冰激凌</key>
	<string>emo086</string>
	<key>剪刀</key>
	<string>emo095</string>
	<key>加油</key>
	<string>emo035</string>
	<key>口红</key>
	<string>emo096</string>
	<key>可怕</key>
	<string>emo021</string>
	<key>右</key>
	<string>emo033</string>
	<key>吐舌</key>
	<string>emo009</string>
	<key>向日葵</key>
	<string>emo065</string>
	<key>呲牙</key>
	<string>emo008</string>
	<key>呼呼</key>
	<string>emo119</string>
	<key>咖啡</key>
	<string>emo084</string>
	<key>哭</key>
	<string>emo018</string>
	<key>商标</key>
	<string>emo116</string>
	<key>啤酒</key>
	<string>emo085</string>
	<key>囧</key>
	<string>emo017</string>
	<key>圆圈</key>
	<string>emo113</string>
	<key>圣诞树</key>
	<string>emo067</string>
	<key>坏笑</key>
	<string>emo011</string>
	<key>大笑</key>
	<string>emo002</string>
	<key>太阳</key>
	<string>emo105</string>
	<key>奖杯</key>
	<string>emo073</string>
	<key>女</key>
	<string>emo118</string>
	<key>女人</key>
	<string>emo040</string>
	<key>女孩</key>
	<string>emo042</string>
	<key>害羞</key>
	<string>emo003</string>
	<key>小红花</key>
	<string>emo063</string>
	<key>崇拜</key>
	<string>emo004</string>
	<key>幽灵</key>
	<string>emo061</string>
	<key>微笑</key>
	<string>emo001</string>
	<key>心碎</key>
	<string>emo026</string>
	<key>惊呆</key>
	<string>emo007</string>
	<key>愤怒</key>
	<string>emo022</string>
	<key>手掌</key>
	<string>emo036</string>
	<key>手枪</key>
	<string>emo098</string>
	<key>打针</key>
	<string>emo094</string>
	<key>打鼾</key>
	<string>emo023</string>
	<key>拳头</key>
	<string>emo030</string>
	<key>挥拳</key>
	<string>emo034</string>
	<key>摄像机</key>
	<string>emo079</string>
	<key>无奈</key>
	<string>emo015</string>
	<key>时间</key>
	<string>emo104</string>
	<key>晕</key>
	<string>emo020</string>
	<key>月亮</key>
	<string>emo106</string>
	<key>橄榄球</key>
	<string>emo100</string>
	<key>气球</key>
	<string>emo102</string>
	<key>水滴</key>
	<string>emo109</string>
	<key>汗</key>
	<string>emo012</string>
	<key>灯泡</key>
	<string>emo080</string>
	<key>热汤</key>
	<string>emo088</string>
	<key>熊</key>
	<string>emo052</string>
	<key>爱心</key>
	<string>emo025</string>
	<key>牛</key>
	<string>emo054</string>
	<key>狗</key>
	<string>emo046</string>
	<key>猪</key>
	<string>emo053</string>
	<key>献花</key>
	<string>emo066</string>
	<key>玫瑰花</key>
	<string>emo062</string>
	<key>生病</key>
	<string>emo024</string>
	<key>电脑</key>
	<string>emo077</string>
	<key>电视机</key>
	<string>emo078</string>
	<key>电话</key>
	<string>emo076</string>
	<key>男人</key>
	<string>emo039</string>
	<key>男孩</key>
	<string>emo041</string>
	<key>皇冠</key>
	<string>emo097</string>
	<key>睡着</key>
	<string>emo013</string>
	<key>礼物</key>
	<string>emo070</string>
	<key>祝</key>
	<string>emo111</string>
	<key>祝福</key>
	<string>emo038</string>
	<key>笑哭</key>
	<string>emo019</string>
	<key>红灯</key>
	<string>emo103</string>
	<key>老人</key>
	<string>emo043</string>
	<key>耶</key>
	<string>emo031</string>
	<key>股票</key>
	<string>emo112</string>
	<key>苹果</key>
	<string>emo090</string>
	<key>草莓</key>
	<string>emo092</string>
	<key>药</key>
	<string>emo093</string>
	<key>虎</key>
	<string>emo051</string>
	<key>蛋糕</key>
	<string>emo089</string>
	<key>西瓜</key>
	<string>emo091</string>
	<key>警察</key>
	<string>emo044</string>
	<key>赞</key>
	<string>emo028</string>
	<key>足球</key>
	<string>emo101</string>
	<key>踩</key>
	<string>emo029</string>
	<key>通知</key>
	<string>emo072</string>
	<key>郁金香</key>
	<string>emo064</string>
	<key>野猪</key>
	<string>emo055</string>
	<key>钥匙</key>
	<string>emo075</string>
	<key>钱袋</key>
	<string>emo074</string>
	<key>铃铛</key>
	<string>emo071</string>
	<key>错误</key>
	<string>emo114</string>
	<key>闪光</key>
	<string>emo107</string>
	<key>闪电</key>
	<string>emo108</string>
	<key>难受</key>
	<string>emo014</string>
	<key>难过</key>
	<string>emo010</string>
	<key>雪人</key>
	<string>emo069</string>
	<key>震惊</key>
	<string>emo016</string>
	<key>青蛙</key>
	<string>emo050</string>
	<key>香烟</key>
	<string>emo083</string>
	<key>马</key>
	<string>emo056</string>
	<key>鱼1</key>
	<string>emo058</string>
	<key>鱼2</key>
	<string>emo059</string>
	<key>鱼3</key>
	<string>emo060</string>
	<key>鸡</key>
	<string>emo057</string>
	<key>鹿</key>
	<string>emo049</string>
	<key>鼓掌</key>
	<string>emo037</string>
	<key>鼠</key>
	<string>emo047</string>
</dict>
</plist>
